@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/*CUSTOM VARIABLES*/
:root {
  --primary-color: #4aca1b;
  --secondary-color: #2d7b11;
  --dark-color: #174d05;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

/*UNIVERSAL RESET*/
* {
  box-sizing: border-box; /*HELPS WITH PADDING AND MARGIN*/
  padding: 0;
  margin: 0;
}

/*BASE SET UP*/
body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none; /*NO BULLET PTS*/
}

a {
  text-decoration: none; /*NO UNDERLINE*/
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/*NAVBAR*/
.navbar {
  background-color: var(--secondary-color);
  color: #fff;
  height: 70px;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}
.navbar a:hover {
  border-bottom: 2px #fff solid;
}

/*SHOWCASE*/
.showcase {
  height: 600px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 60px;
  font-weight: 800;
}

.showcase p {
  font-size: 25px;
  font-weight: 300;
  margin: 40px 0;
  width: 100%;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 40px;
  overflow: visible; /*MAKES CARD VISIBLE*/
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
  position: relative; /*MAKES CARD VISIBLE*/
  top: 60px; /*MOVES THE CARD*/
  height: 400px; /*SIZES THE CARD*/
  width: 500px; /*SIZES THE CARD*/
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
  animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4bccb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: ''; /*CREATES THE SLANT*/
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background-color: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

/*STATS*/
.stats {
  height: 600px;
  padding-top: 75px;
  padding-bottom: 100px;
  animation: slideInFromBot 1s ease-in;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
  font-size: 30px;
}

.stats-subheading {
  max-width: 500px;
  margin: auto;
  padding-bottom: 50px;
  font-size: 18px;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats.grid p {
  font-size: 20px;
  font-weight: bold;
}

/*EXAMPLE*/
.example {
  margin-bottom: 100px;
}

.example .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.example .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/*STATS2*/
.stats2 {
  height: 400px;
}

.stats2 .container {
  padding-top: 70px;
}

.stats2 h2 {
  width: 70%;
  font-weight: 700;
  margin: auto;
}

.stats2 .flex {
  justify-content: space-evenly;
}

.stats2 li {
  padding-top: 30px;
  font-weight: 800;
}

/*FILS*/
.files {
  height: 350px;
}

.files h2 {
  font-weight: 800;
}

.files .flex {
  flex-wrap: wrap;
}

.files .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.files .card:hover {
  transform: translateY(-15px);
}

.files .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.files .card img {
  height: 100px;
  width: 75px;
}

/* FEATURES */
.features-head img,
.features-sub-head img,
.docs-head img {
  width: 200px;
  justify-self: flex-end;
}

.features-main .card > i {
  margin-right: 20px;
}

.features-main .grid {
  padding: 30px;
}

.features-main .grid > *:first-child {
  grid-column: 1 / span 3;
}
.features-main .grid > *:nth-child(2) {
  grid-column: 1 / span 2;
}

/* DOCS */
.docs-main h3 {
  margin: 20px 0;
}

.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}

.docs-main a:hover {
  font-weight: bold;
}

/* about */
.about-why {
  height: 700px;
  background-color: var(--light-color);
  padding-top: 50px;
  margin: 0;
}
.about-text {
  margin: 40px 60px;
}

.about-text h1 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}
.about-why .card {
  margin: 40px 0;
  text-align: center;
  height: 150px;
  background-color: var(--primary-color);
  box-shadow: none;
  color: #fff;
  border-radius: 4px;
}

.about-why .grid {
  align-items: flex-start;
}

.about-stats1 .card h1,
.about-stats2 .card h1 {
  font-size: 30px;
  font-weight: 800;
}

.about-stats1 .card p,
.about-stats2 .card p {
  font-weight: 800;
}

.about-people img {
  width: 250.25px;
}

.about-people .card {
  padding: 0;
  box-shadow: none;
  border-radius: 0px;
  background-color: var(--light-color);
}

.about-people p,
.about-location p {
  padding: 0 15px;
  margin: 0;
  margin-bottom: 10px;
}
.about-people h3,
.about-location h3 {
  padding: 10px;
  font-weight: 800;
}
.about-people h1 {
  font-weight: 900;
}

.about-location {
  background-color: var(--light-color);
}

.about-location .card {
  border-radius: 0px;
  padding: 0;
}

/* CONTACT */

.contact .card {
  height: 200px;
  box-shadow: none;
  border-radius: 3px;
  background-color: #cbfac9;
}

.contact2 .card {
  box-shadow: none;
  border-radius: 0;
}

.contact h1,
.contact2 h1 {
  font-weight: bold;
}

.contact .card:hover,
.contact2 .card:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#bar {
  height: 10px;
  background-color: var(--light-color);
  width: 65%;
  margin: 40px auto;
}

#bar2 {
  background-color: var(--light-color);
  width: 65%;
  margin: 100px auto;
}

/*FOOTER*/
.footer .social a {
  margin: 0 10px;
}

.footer nav {
  display: flex;
}

.footer li {
  margin: 0 20px;
}

/* ANIMATIONS */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(+100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBot {
  0% {
    transform: translateY(+100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* MEDIA */
/* TABLETS AND UNDER */
@media (max-width: 975px) {
  .showcase-form {
    width: 325px; /*SIZES THE CARD*/
  }
}

@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBot 1s ease-in;
  }
  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }
  .showcase-form {
    width: 300px; /*SIZES THE CARD*/
  }

  .features-head,
  .features-sub-head,
  .docs-head {
    text-align: center;
  }

  .features-head img,
  .features-sub-head img,
  .docs-head img {
    justify-self: center;
  }

  .features-main .grid > *:first-child,
  .features-main .grid > *:nth-child(2) {
    grid-column: 1;
  }
}

/* MOBILE */
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }
  .navbar .flex {
    flex-direction: column;
  }
  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
